@import url('https://fonts.googleapis.com/css?family=Poppins:400');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Roboto:wght@100&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.submit-btn {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 2em;
    color: #FFFFFF;
    text-decoration: none;
    margin-left: 0;
    padding: 5% 30%;
    font-weight: 600;
    min-width: 100%;
    margin-top: 5%;
    border-radius: 4px;
}

button.submit-btn-not-connected {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 0.8em;
    color: #FFFFFF;
    text-decoration: none;
    margin-left: 0;
    padding: 5% 30%;
    font-weight: 300;
    min-width: 100%;
    margin-top: 5%;
    border-radius: 4px;
    background-color: #D4D5D8;
}

.swap-detail > li {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    color: #66676F
}

main {
    padding: 1% 2%;
    height: 80vh;
}

.detail-help-circle {
    color: #D4D5D8; 
    width: 1em;
    height: 1em;
}

.swap-detail {
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
    width: 100%;
    flex-basis: 1;
}

.swap-detail-label {
    margin-right: auto;
    font-size: 1em;
    color: #66676F;
}

.swap-detail-value {
    font-size: 1em;
    color: #66676F;
}

.aligner {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: wrap;
}

.aligner-item {
    min-width:50%;
    height: 100%;
}

.form-span {
    font-family: "Roboto Mono", sans-serif;
    font-size: 2.5em;
    line-height: 2.5em;
    color: #D4D5D8;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #D4D5D8;
    opacity: 1; /* Firefox */
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #D4D5D8;
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    color: #D4D5D8;
  }

.swap__nav__links {
    list-style: none;
}

.swap__nav__links li a {
    transition: all 0.3s ease 0s;
}

.swap-select {
    font-family: "Roboto Mono", sans-serif;
}

.form-input {
    font-family: "Roboto Mono", sans-serif;
}

.approve-radio {
    height: auto;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: inline-block;
    width: 1rem;
    height: 1rem;
    padding: .25rem;
    background-clip: content-box;
    border: 1px solid #D4D5D8;
    border-radius: 50%;
    /* display:table-cell; */
    vertical-align: middle
}

.approve-radio:checked {
    background-color: #FF7957;
    border: 1px solid #FF7957;
}

.approve-radio:disabled {
    border: #D4D5D8;
    background-color: #D4D5D8;
}

.approve-label {
    color: #FF7957;
    font-family: "Poppins", sans-serif;
    height: 1rem;
}

.approve-label-disabled {
    color: #D4D5D8;
    font-family: "Poppins", sans-serif;
    height: 1rem;
}

.warning-btn {
    margin: 0 auto;
    margin-top: 5%;
    margin-bottom: 0%;
    border: 2px solid #FF7957;
    background: #FFAD99;
    color: #FFFFFF;
    text-align: center;
    font-size: 0.7em;
    min-width: 90%;
    cursor: not-allowed;
    pointer-events: all !important;
    transition: all 0.3s ease 0s;
}

.warning-btn-hidden {
    margin: 0 auto;
    margin-top: 5%;
    margin-bottom: 0%;
    border: 2px solid #FF7957;
    background: #FFAD99;
    color: #FFFFFF;
    text-align: center;
    font-size: 0.7em;
    min-width: 90%;
    pointer-events: all !important;
    opacity: 0;
    transition: all 0.3s ease 0s;
    cursor: default;
}

.submit-btn:disabled {
    cursor: not-allowed !important;
    pointer-events: all !important;
    background-color: #D4D5D8 !important;
    color: #FFFFFF;
    transition: all 0.3s ease 0s;
}

.submit-btn-not-connected:disabled {
    cursor: not-allowed !important;
    pointer-events: all !important;
    background-color: #D4D5D8 !important;
    color: #FFFFFF;
    transition: all 0.3s ease 0s;
}

.chain-warning-btn {
    margin: 0 auto;
    margin-top: 0%;
    margin-bottom: 0%;
    border: 2px solid #FF7957;
    background: #FFAD99;
    color: #FFFFFF;
    text-align: center;
    font-size: 0.7em;
    min-width: 90%;
    cursor: not-allowed;
    pointer-events: all !important;
    transition: all 0.3s ease 0s;
    font-weight: 600;
}

.chain-warning-btn-hidden {
    margin: 0 auto;
    margin-top: 0%;
    margin-bottom: 0%;
    border: 2px solid #FF7957;
    background: #FFAD99;
    color: #FFFFFF;
    text-align: center;
    font-size: 0.7em;
    min-width: 90%;
    cursor: default;
    pointer-events: all !important;
    opacity: 0;
    transition: all 0.3s ease 0s;
}

.chain-warning-div {
    text-align: center;
    width: 50%;
    margin: 0 auto;
    margin-bottom: 2%;
}

.infinite-approve-div-hidden {
    opacity: 0;
    cursor: default;
}