select {
  margin-right: 0.5em;
  min-width: 17%;
  padding: 5px 35px 5px 5px;
  font-size: 2.5em;
  border: none;
  border-bottom: 4px solid #66676F;
  height: 2.5em;
  /* color: #D4D5D8; */
  color: #66676F;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url('../../assets/images/chevron-down.png') 96% / 15% no-repeat #F3F4F6;
}

input {
  border: none;
  height: 2.5em;
  font-size: 2.5em;
  border-bottom: 4px solid #66676F;
  max-width: 10%;
  padding: 1%;
  /* color: #D4D5D8; */
  color: #66676F;
  margin-right: 0.5em;
  margin-left: 0.5em;
  background: #F3F4F6;
}

/* Target Internet Explorer 9 to undo the custom arrow */
@media screen and (min-width:0\0) {
  select {
      background: none\9;
      padding: 5px\9;
  }
}